[run]
source = .
omit =
    */migrations/*
    manage.py
    */settings/*
    */tests/*
    */venv/*
    */admin/*
    */apps/*
    */__init__.py
    */urls.py
    */wsgi.py
    */asgi.py
    */settings.py
    */tests.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__"
